:root {
  --body-bg: #f3f3f3;
  --panel-bg: #FFF;
  --main-gray: #E8ECED;
  --white-color: #FFF;
  --white-color-3: #f7f7f7;
  --white-color-5: #f2f2f2;
  --gray-base: #000;
  --gray-soft: #636363;
  --gray-dark: #333333;
  --gray-light: #999;
  --gray-lighter: #eeeeee;
  --gray: #555555;
  --gray-light-5: #8c8c8c;
  --gray-light-7: #878787;
  --gray-light-10: #808080;
  --gray-light-12: #7a7a7a;
  --gray-light-17: #6e6e6e;
  --gray-light-25: #595959;
  --gray-light-40: #333333;
  --gray-dark-5: #262626;
  --gray-dark-7: #212121;
  --gray-dark-10: #1a1a1a;
  --gray-dark-12: #141414;
  --gray-dark-17: #080808;
  --gray-dark-25: #000000;
  --gray-dark-40: #000000;
  --gray-dark-25l: #737373;
  --gray-lighter-5: #e2e2e2;
  --gray-lighter-7: #dddddd;
  --gray-lighter-10: #d5d5d5;
  --gray-lighter-12: #d0d0d0;
  --gray-lighter-17: #c3c3c3;
  --gray-lighter-25: #afafaf;
  --gray-lighter-40: #888888;
  --gray-lighter-orange-mix: #f7ca77;
  --gray-lighter-orange-mix-5: #f5c05f;
  --gray-lighter-orange-mix-7: #f5bd56;
  --gray-lighter-orange-mix-10: #f4b747;
  --gray-lighter-orange-mix-12: #f3b33e;
  --gray-lighter-orange-mix-17: #f2aa25;
  --gray-lighter-orange-mix-25: #e1960e;
  --gray-lighter-orange-mix-40: #996609;
  --brand-primary: #537898;
  --brand-danger: #CF605D;
  --brand-info: #aba8cc;
  --brand-success: #85b75f;
  --brand-warning: #e4a133;
  --main-gray-5: #dae0e2;
  --main-gray-7: #d4dbdd;
  --main-gray-10: #cbd4d7;
  --main-gray-12: #c6d0d2;
  --main-gray-17: #b7c4c7;
  --main-gray-25: #a0b1b5;
  --main-gray-40: #768d93;
  --main-gray-lighten-40: #ffffff;
  --brand-primary-text: #FFF;
  --brand-primary-5: #4a6b88;
  --brand-primary-10: #415e77;
  --brand-primary-12: #3d5970;
  --brand-primary-15: #385167;
  --brand-primary-17: #344c60;
  --brand-primary-25: #263746;
  --brand-primary-lighten-10: #6e91b0;
  --brand-primary-lighten-30: #b0c3d4;
  --brand-primary-lighten-50: #f2f5f8;
  --state-primary-text: #5b9aca;
  --brand-danger-5: #c94d49;
  --brand-danger-10: #c03c39;
  --brand-danger-12: #b83a37;
  --brand-danger-15: #ac3633;
  --brand-danger-17: #a53431;
  --brand-danger-25: #852a27;
  --brand-danger-lighten-20: #e6adac;
  --state-danger-bg: #f2dede;
  --state-danger-text: #ad4846;
  --state-danger-bg-5: #ebcccc;
  --state-danger-bg-10: #e4b9b9;
  --state-danger-text-10: #893937;
  --state-danger-text-10l: #c16765;
  --brand-info-5: #9b98c3;
  --brand-info-10: #8c88b9;
  --brand-info-12: #8681b5;
  --brand-info-15: #7c78b0;
  --brand-info-17: #7671ac;
  --brand-info-25: #605a9a;
  --state-info-bg: #e2e2e2;
  --state-info-bg-5: #d5d5d5;
  --state-info-bg-10: #c9c9c9;
  --state-info-bg-12: #c3c3c3;
  --state-info-bg-17: #b7b7b7;
  --state-info-bg-25: #a2a2a2;
  --state-info-bg-mix: #e8e8e8;
  --state-info-bg-mix-5: #dbdbdb;
  --state-info-bg-mix-10: #cfcfcf;
  --state-info-bg-mix-12: #cacaca;
  --state-info-bg-mix-17: #bdbdbd;
  --state-info-bg-mix-25: #a8a8a8;
  --brand-success-5: #78ae4e;
  --brand-success-10: #6c9d46;
  --brand-success-12: #679643;
  --brand-success-15: #608b3f;
  --brand-success-17: #5b843b;
  --brand-success-25: #47682f;
  --state-success-text: #52843b;
  --state-success-bg: #d3e6c9;
  --state-success-bg-5: #c5dfb7;
  --state-success-bg-10: #b7d7a5;
  --state-success-text-10: #3c612c;
  --state-success-text-10l: #68a74b;
  --brand-warning-5: #e0961e;
  --brand-warning-10: #c9871b;
  --brand-warning-12: #c08119;
  --brand-warning-15: #b37818;
  --brand-warning-17: #aa7216;
  --brand-warning-25: #865a12;
  --state-warning-bg: #fcf8e3;
  --state-warning-text: #9E7328;
  --state-warning-text-10: #75551e;
  --state-warning-text-10l: #c79132;
  --state-warning-bg-5: #faf2cc;
  --state-warning-bg-10: #f7ecb5;
  --btn-default-bg: #f7f7f7;
  --btn-default-border: #cccccc;
  --btn-default-color: #333;
  --btn-default-bg-5: #eaeaea;
  --btn-default-bg-12: #d8d8d8;
  --btn-default-bg-17: #cccccc;
  --btn-default-bg-25: #b7b7b7;
  --btn-text-color: #333333;
  --navbar-bg: #f3f3f3;
  --navbar-link-color: #999;
  --navbar-link-hover-color: #555555;
  --navbar-link-hover-bg: #f3f3f3;
  --navbar-link-active-bg: #dadada;
  --navbar-inverse-color: #999;
  --navbar-inverse-bg: #546E7A;
  --navbar-inverse-link-color: #DFDFDF;
  --navbar-inverse-link-active-bg: #3f535c;
  --navbar-inverse-border: transparent;
  --navbar-inverse-toggle-hover-bg: #3f535c;
  --navbar-inverse-bg-7: #455b65;
  --navbar-inverse-link-hover-color: #fff;
  --navbar-inverse-link-hover-bg: transparent;
  --navbar-inverse-link-disabled-color: #444;
  --navbar-inverse-link-disabled-bg: transparent;
  --input-color: #555555;
  --input-bg: #FFF;
  --input-border: #D1D5D6;
  --input-border-focus: #99b4cc;
  --input-border-focus-rgba: rgba(153, 180, 204, 0.6);
  --modal-backdrop-bg: #a3b3c7;
  --modal-header-border-color: #e5e5e5;
  --modal-header-bg: #FFF;
  --modal-footer-bg: #FFF;
  --modal-content-bg: #FFF;
  --text-color: #333333;
  --text-white-color: #FFF;
  --link-color: #537898;
  --link-hover-color: #385167;
  --table-bg: #FFF;
  --table-bg-accent: #f9f9f9;
  --code-bg: #f9f9f9;
  --code-border-color: #E8ECED;
  --code-color: #333333;
  --default-heading-bg-color: #E8ECED;
  --default-border-color: #E8ECED;
  --panel-default-border: #dcdcdc;
  --panel-default-bg: transparent;
  --panel-primary-bg: #849fab;
  --panel-success-bg: #cee0ba;
  --panel-danger-bg: #ebccd1;
  --panel-warning-bg: #efda97;
  --panel-info-bg: #e2e2e2;
  --panel-default-text: #333333;
  --panel-primary-text: #FFF;
  --panel-success-text: #52843b;
  --panel-danger-text: #ad4846;
  --panel-warning-text: #9E7328;
  --panel-info-text: var(--text-color);
  --login-panel-heading-bg: #546E7A;
  --site-footer-bg: #eeeeee;
  --site-footer-color: #555555;
  --popover-bg: #FFF;
  --dropdown-bg: #FFF;
  --dropdown-link-color: #333333;
  --dropdown-link-hover-color: #262626;
  --dropdown-link-hover-bg: #f5f5f5;
  --dropdown-border: rgba(0, 0, 0, 0.15);
  --dropdown-divider-bg: #e5e5e5;
  --calendar-today-bg: #fcf8e3;
  --calendar-border: #d1d5d6;
  --calendar-busy-bg: #eeeeee;
  --select-item-text-color: #333333;
  --select-item-bg: #efefef;
  --select-item-active-text-color: #FFF;
  --select-item-active-bg: #537898;
  --select-item-border: #cccccc;
  --label-color: #fff;
  --label-default-bg: #999;
  --well-bg: #FFF;
  --well-border: #dcdcdc;
  --scroll-bg: #eeeeee;
  --scroll-thumb-bg: #999;
}
body,
table {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
}
body > p:last-child,
body > ul:last-child,
body > ol:last-child,
body > pre:last-child,
body > blockquote:last-child {
  margin-bottom: 0;
}
body {
  margin: 0;
}
a {
  color: var(--link-color);
  text-decoration: none;
}
table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: #e8eced;
  border-spacing: 0;
}
.table {
  width: 100%;
  border-collapse: collapse;
}
.table-bordered {
  border: 1px solid var(--default-border-color);
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid var(--default-border-color);
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.36;
  vertical-align: top;
  border-top: 1px solid var(--default-border-color);
}
pre {
  display: block;
  padding: 9px;
  margin: 0 0 9.5px;
  font-size: 13px;
  line-height: 1.36;
  word-break: break-all;
  word-wrap: break-word;
  color: var(--gray-dark);
  background-color: var(--code-bg);
  border: 1px solid var(--main-gray);
  border-radius: 0;
}
pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
}
